.mediaViewInfo {
	--web-view-name: about;
	--web-view-id: about;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: about;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#about {
	position: absolute;
	width: 1920px;
	height: 3452px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: about;
	--web-view-id: about;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
#Footer {
	position: absolute;
	width: 1920px;
	height: 400px;
	left: 0px;
	top: 3051px;
	overflow: visible;
}
#background {
	fill: rgba(0,52,88,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#Footer_Nav {
	position: absolute;
	width: 1158px;
	height: 40px;
	left: 669px;
	top: 44px;
	overflow: visible;
}
#HOME {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#ABOUT_cx {
	left: 180px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#PROMOTIONS {
	left: 372px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#ADVERTISMENTS_ {
	left: 663px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#CONTACT {
	left: 1006px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Social_Media {
	position: absolute;
	width: 204px;
	height: 48px;
	left: 203px;
	top: 44px;
	overflow: visible;
}
#Facebook_Icon {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(229,25,55,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Group_3 {
	position: absolute;
	width: 14px;
	height: 30px;
	left: 17px;
	top: 9px;
	overflow: visible;
}
#Path_18 {
	fill: rgba(255,255,255,1);
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Twitter_Icon {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 78px;
	top: 0px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(229,25,55,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Group_4 {
	position: absolute;
	width: 30.003px;
	height: 24px;
	left: 8.999px;
	top: 12px;
	overflow: visible;
}
#Path_19 {
	fill: rgba(255,255,255,1);
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 30.003px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Instagram_Icon {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 156px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(229,25,55,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Group_5 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 9px;
	top: 9px;
	overflow: visible;
}
#Path_20 {
	fill: rgba(255,255,255,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#DRINK_SAFELY_Do_NOT_share_with {
	left: 203px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 565px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#_2020_Molson_Inc_All_rights_re {
	left: 203px;
	top: 300px;
	position: absolute;
	overflow: visible;
	width: 429px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Options {
	position: absolute;
	width: 1800px;
	height: 602px;
	left: 60px;
	top: 2399px;
	overflow: visible;
}
#background_dh {
	fill: rgba(0,52,88,1);
}
.background_dh {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 600px;
	left: 0px;
	top: 2px;
}
#rowofbottlespng {
	position: absolute;
	width: 764px;
	height: 600px;
	left: 848px;
	top: 0px;
	overflow: visible;
}
#button {
	fill: rgba(229,25,55,0);
	stroke: rgba(229,25,55,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button {
	position: absolute;
	overflow: visible;
	width: 292px;
	height: 109px;
	left: 258px;
	top: 248px;
}
#HISTORY {
	left: 311px;
	top: 273.125px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Options_dl {
	position: absolute;
	width: 1800px;
	height: 605px;
	left: 60px;
	top: 1746px;
	overflow: visible;
}
#background_dm {
	fill: rgba(0,52,88,1);
}
.background_dm {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 600px;
	left: 0px;
	top: 5px;
}
#rowofbottlespng_dn {
	position: absolute;
	width: 764px;
	height: 600px;
	left: 848px;
	top: 0px;
	overflow: visible;
}
#button_do {
	fill: transparent;
	stroke: rgba(229,25,55,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button_do {
	position: absolute;
	overflow: visible;
	width: 304px;
	height: 109px;
	left: 252px;
	top: 251px;
}
#FIND_US {
	left: 316px;
	top: 279px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Options_dq {
	position: absolute;
	width: 1800px;
	height: 602px;
	left: 60px;
	top: 1099px;
	overflow: visible;
}
#background_dr {
	fill: rgba(0,52,88,1);
}
.background_dr {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 600px;
	left: 0px;
	top: 2px;
}
#rowofbottlespng_ds {
	position: absolute;
	width: 764px;
	height: 600px;
	left: 848px;
	top: 0px;
	overflow: visible;
}
#button_dt {
	fill: transparent;
	stroke: rgba(229,25,55,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button_dt {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 109px;
	left: 192px;
	top: 248px;
}
#MEET_THE_TEAM {
	left: 232px;
	top: 273.125px;
	position: absolute;
	overflow: visible;
	width: 353px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Welcome {
	position: absolute;
	width: 1222px;
	height: 178px;
	left: 349px;
	top: 850px;
	overflow: visible;
}
#Background_dw {
	fill: rgba(229,25,55,1);
}
.Background_dw {
	position: absolute;
	overflow: visible;
	width: 1222px;
	height: 178px;
	left: 0px;
	top: 0px;
}
#We_Are_Your_Trusted_Medicated_ {
	left: 166px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 891px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Banner {
	position: absolute;
	width: 1920px;
	height: 800px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
#background_dz {
	fill: rgba(0,52,88,1);
}
.background_dz {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 800px;
	left: 0px;
	top: 0px;
}
#About_Who_We_Are {
	left: 752px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 415px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Main_nav {
	position: fixed;
	width: 1800px;
	height: 100px;
	left: 60px;
	top: 0px;
	overflow: visible;
}
#Nav {
	opacity: 0.6;
	fill: rgba(255,255,255,1);
}
.Nav {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#linkhomehtml_HOME {
	left: 598px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkabouthtml_ABOUT {
	left: 778px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkpromohtml_PROMOTIONS {
	left: 970px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkadvertismentshtml_ADVERTIS {
	left: 1261px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkcontacthtml_CONTACT {
	left: 1604px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#logo {
	position: absolute;
	width: 161.589px;
	height: 90px;
	left: 166.065px;
	top: 5px;
	overflow: visible;
}
#RenderLayer_LineSet {
	position: absolute;
	width: 59.594px;
	height: 63.217px;
	left: 86.843px;
	top: 0px;
	overflow: visible;
}
#strokes {
	position: absolute;
	width: 59.594px;
	height: 63.217px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 59.594px;
	height: 63.217px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_21_ed {
	fill: url(#Path_21_ed);
}
.Path_21_ed {
	overflow: visible;
	position: absolute;
	width: 58.223px;
	height: 61.746px;
	left: 0.685px;
	top: 0.736px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	fill: rgba(141,123,76,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 59.594px;
	height: 63.217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
	fill: rgba(229,25,55,1);
}
.Path_23 {
	overflow: visible;
	position: absolute;
	width: 41.979px;
	height: 37.303px;
	left: 94.011px;
	top: 16.725px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
	fill: rgba(0,52,88,1);
}
.Path_24 {
	overflow: visible;
	position: absolute;
	width: 39.481px;
	height: 30.7px;
	left: 99.829px;
	top: 10.076px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
	fill: rgba(255,255,255,1);
}
.Path_25 {
	overflow: visible;
	position: absolute;
	width: 20.052px;
	height: 10.994px;
	left: 102.427px;
	top: 31.654px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
	fill: rgba(255,255,255,1);
}
.Path_26 {
	overflow: visible;
	position: absolute;
	width: 26.075px;
	height: 12.341px;
	left: 96.662px;
	top: 18.187px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
	fill: rgba(255,255,255,1);
}
.Path_27 {
	overflow: visible;
	position: absolute;
	width: 16.494px;
	height: 29.388px;
	left: 118.065px;
	top: 19.289px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_28 {
	fill: rgba(255,255,255,1);
}
.Path_28 {
	overflow: visible;
	position: absolute;
	width: 27.632px;
	height: 41.712px;
	left: 81.848px;
	top: 35.004px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_29 {
	fill: rgba(255,255,255,1);
}
.Path_29 {
	overflow: visible;
	position: absolute;
	width: 56.095px;
	height: 35.267px;
	left: 105.494px;
	top: 37.401px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_30 {
	fill: rgba(255,255,255,1);
}
.Path_30 {
	overflow: visible;
	position: absolute;
	width: 35.953px;
	height: 49.603px;
	left: 0px;
	top: 40.397px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_31 {
	fill: rgba(255,255,255,1);
}
.Path_31 {
	overflow: visible;
	position: absolute;
	width: 50.836px;
	height: 35.288px;
	left: 31.731px;
	top: 38.219px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
	fill: rgba(0,52,88,1);
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 33.75px;
	height: 47.396px;
	left: 1.102px;
	top: 41.498px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
	fill: rgba(0,52,88,1);
}
.Path_33 {
	overflow: visible;
	position: absolute;
	width: 48.632px;
	height: 33.086px;
	left: 32.833px;
	top: 39.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_34 {
	fill: rgba(229,25,55,1);
}
.Path_34 {
	overflow: visible;
	position: absolute;
	width: 25.414px;
	height: 39.509px;
	left: 82.95px;
	top: 36.106px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_35 {
	fill: rgba(229,25,55,1);
}
.Path_35 {
	overflow: visible;
	position: absolute;
	width: 53.891px;
	height: 33.072px;
	left: 106.596px;
	top: 38.5px;
	transform: matrix(1,0,0,1,0,0);
}