.mediaViewInfo {
	--web-view-name: contact;
	--web-view-id: contact;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: contact;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#contact {
	position: absolute;
	width: 1920px;
	height: 2511px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: contact;
	--web-view-id: contact;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
#Footer {
	position: absolute;
	width: 1920px;
	height: 400px;
	left: 0px;
	top: 2111px;
	overflow: visible;
}
#background {
	fill: rgba(0,52,88,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#Footer_Nav {
	position: absolute;
	width: 1158px;
	height: 40px;
	left: 669px;
	top: 44px;
	overflow: visible;
}
#HOME {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#ABOUT {
	left: 180px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#PROMOTIONS {
	left: 372px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#ADVERTISMENTS_ {
	left: 663px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#CONTACT_ju {
	left: 1006px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Social_Media {
	position: absolute;
	width: 204px;
	height: 48px;
	left: 203px;
	top: 44px;
	overflow: visible;
}
#Facebook_Icon {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_3 {
	fill: rgba(229,25,55,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Group_3 {
	position: absolute;
	width: 14px;
	height: 30px;
	left: 17px;
	top: 9px;
	overflow: visible;
}
#Path_18 {
	fill: rgba(255,255,255,1);
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Twitter_Icon {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 78px;
	top: 0px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(229,25,55,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Group_4 {
	position: absolute;
	width: 30.003px;
	height: 24px;
	left: 8.999px;
	top: 12px;
	overflow: visible;
}
#Path_19 {
	fill: rgba(255,255,255,1);
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 30.003px;
	height: 24px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Instagram_Icon {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 156px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	fill: rgba(229,25,55,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Group_5 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 9px;
	top: 9px;
	overflow: visible;
}
#Path_20 {
	fill: rgba(255,255,255,1);
}
.Path_20 {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#DRINK_SAFELY_Do_NOT_share_with {
	left: 203px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 565px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#_2020_Molson_Inc_All_rights_re {
	left: 203px;
	top: 300px;
	position: absolute;
	overflow: visible;
	width: 429px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Welcome {
	position: absolute;
	width: 1222px;
	height: 178px;
	left: 349px;
	top: 850px;
	overflow: visible;
}
#Background_kb {
	fill: rgba(229,25,55,1);
}
.Background_kb {
	position: absolute;
	overflow: visible;
	width: 1222px;
	height: 178px;
	left: 0px;
	top: 0px;
}
#Have_Questions_or_Concerns {
	left: 297px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 629px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Banner {
	position: absolute;
	width: 1920px;
	height: 800px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
#background_ke {
	fill: rgba(0,52,88,1);
}
.background_ke {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 800px;
	left: 0px;
	top: 0px;
}
#Contact_kf {
	left: 877px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Contact_form {
	position: absolute;
	width: 1457px;
	height: 932px;
	left: 232px;
	top: 1116px;
	overflow: visible;
}
#formbackground {
	fill: rgba(189,195,198,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.formbackground {
	position: absolute;
	overflow: visible;
	width: 1457px;
	height: 776px;
	left: 0px;
	top: 156px;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(229,25,55,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 672px;
	left: 728.5px;
	top: 210.5px;
	transform: matrix(1,0,0,1,0,0);
}
#lastname {
	position: absolute;
	width: 593px;
	height: 64px;
	left: 84px;
	top: 338px;
	overflow: visible;
}
#typebox {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.typebox {
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Last_Name {
	opacity: 0.2;
	left: 10px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#send {
	position: absolute;
	width: 479px;
	height: 159px;
	left: 780px;
	top: 706px;
	overflow: visible;
}
#button {
	fill: rgba(0,52,88,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button {
	position: absolute;
	overflow: visible;
	width: 479px;
	height: 159px;
	left: 0px;
	top: 0px;
}
#send_ko {
	left: 48px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 384px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 51px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.8px;
}
#Business_Email {
	position: absolute;
	width: 593px;
	height: 64px;
	left: 84px;
	top: 430px;
	overflow: visible;
}
#typebox_kq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.typebox_kq {
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Business_Email_kr {
	opacity: 0.2;
	left: 10px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#phone {
	position: absolute;
	width: 593px;
	height: 64px;
	left: 84px;
	top: 522px;
	overflow: visible;
}
#typebox_kt {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.typebox_kt {
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Phone_ku {
	opacity: 0.2;
	left: 10px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#Company {
	position: absolute;
	width: 593px;
	height: 64px;
	left: 84px;
	top: 614px;
	overflow: visible;
}
#typebox_kw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.typebox_kw {
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Company_kx {
	opacity: 0.2;
	left: 10px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#aboutmessage {
	position: absolute;
	width: 593px;
	height: 154px;
	left: 84px;
	top: 706px;
	overflow: visible;
}
#typebox_kz {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.typebox_kz {
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 154px;
	left: 0px;
	top: 0px;
}
#What_is_Your_Message_About {
	opacity: 0.2;
	left: 10px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 474px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#messagehere {
	position: absolute;
	width: 593px;
	height: 432px;
	left: 779px;
	top: 246px;
	overflow: visible;
}
#typebox_k {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.typebox_k {
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 432px;
	left: 0px;
	top: 0px;
}
#Type_Your_Message_here {
	opacity: 0.2;
	left: 10px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 522px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#firstname {
	position: absolute;
	width: 593px;
	height: 64px;
	left: 84px;
	top: 246px;
	overflow: visible;
}
#typebox_la {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.typebox_la {
	position: absolute;
	overflow: visible;
	width: 593px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#First_Name {
	opacity: 0.2;
	left: 10px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.8px;
}
#Send_us_a_Message {
	left: 361px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 737px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 73px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#Main_nav {
	position: fixed;
	width: 1800px;
	height: 100px;
	left: 60px;
	top: 0px;
	overflow: visible;
}
#Nav {
	opacity: 0.6;
	fill: rgba(255,255,255,1);
}
.Nav {
	position: absolute;
	overflow: visible;
	width: 1800px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#linkhomehtml_HOME {
	left: 598px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkabouthtml_ABOUT {
	left: 778px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkpromohtml_PROMOTIONS {
	left: 970px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 224px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkadvertismentshtml_ADVERTIS {
	left: 1261px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#linkcontacthtml_CONTACT {
	left: 1604px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,52,88,1);
	letter-spacing: 0.8px;
}
#logo {
	position: absolute;
	width: 161.589px;
	height: 90px;
	left: 166.064px;
	top: 5px;
	overflow: visible;
}
#RenderLayer_LineSet {
	position: absolute;
	width: 59.594px;
	height: 63.217px;
	left: 86.843px;
	top: 0px;
	overflow: visible;
}
#strokes {
	position: absolute;
	width: 59.594px;
	height: 63.217px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 59.594px;
	height: 63.217px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_21_lk {
	fill: url(#Path_21_lk);
}
.Path_21_lk {
	overflow: visible;
	position: absolute;
	width: 58.223px;
	height: 61.746px;
	left: 0.686px;
	top: 0.736px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	fill: rgba(141,123,76,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 59.595px;
	height: 63.217px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
	fill: rgba(229,25,55,1);
}
.Path_23 {
	overflow: visible;
	position: absolute;
	width: 41.979px;
	height: 37.303px;
	left: 94.011px;
	top: 16.725px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_24 {
	fill: rgba(0,52,88,1);
}
.Path_24 {
	overflow: visible;
	position: absolute;
	width: 39.481px;
	height: 30.7px;
	left: 99.829px;
	top: 10.076px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
	fill: rgba(255,255,255,1);
}
.Path_25 {
	overflow: visible;
	position: absolute;
	width: 20.053px;
	height: 10.994px;
	left: 102.427px;
	top: 31.654px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_26 {
	fill: rgba(255,255,255,1);
}
.Path_26 {
	overflow: visible;
	position: absolute;
	width: 26.075px;
	height: 12.341px;
	left: 96.662px;
	top: 18.187px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_27 {
	fill: rgba(255,255,255,1);
}
.Path_27 {
	overflow: visible;
	position: absolute;
	width: 16.494px;
	height: 29.388px;
	left: 118.064px;
	top: 19.289px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_28 {
	fill: rgba(255,255,255,1);
}
.Path_28 {
	overflow: visible;
	position: absolute;
	width: 27.632px;
	height: 41.712px;
	left: 81.849px;
	top: 35.004px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_29 {
	fill: rgba(255,255,255,1);
}
.Path_29 {
	overflow: visible;
	position: absolute;
	width: 56.095px;
	height: 35.267px;
	left: 105.494px;
	top: 37.401px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_30 {
	fill: rgba(255,255,255,1);
}
.Path_30 {
	overflow: visible;
	position: absolute;
	width: 35.953px;
	height: 49.603px;
	left: 0px;
	top: 40.397px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_31 {
	fill: rgba(255,255,255,1);
}
.Path_31 {
	overflow: visible;
	position: absolute;
	width: 50.836px;
	height: 35.288px;
	left: 31.731px;
	top: 38.219px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_32 {
	fill: rgba(0,52,88,1);
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 33.75px;
	height: 47.396px;
	left: 1.102px;
	top: 41.498px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_33 {
	fill: rgba(0,52,88,1);
}
.Path_33 {
	overflow: visible;
	position: absolute;
	width: 48.632px;
	height: 33.086px;
	left: 32.833px;
	top: 39.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_34 {
	fill: rgba(229,25,55,1);
}
.Path_34 {
	overflow: visible;
	position: absolute;
	width: 25.414px;
	height: 39.509px;
	left: 82.951px;
	top: 36.106px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_35 {
	fill: rgba(229,25,55,1);
}
.Path_35 {
	overflow: visible;
	position: absolute;
	width: 53.892px;
	height: 33.072px;
	left: 106.596px;
	top: 38.5px;
	transform: matrix(1,0,0,1,0,0);
}